html {
    font-size: 100px;
}

body {
    font-size: 16px;
}

/*初始化margin和padding以便于不同浏览器兼容*/
* {
    margin: 0;
    padding: 0;
}

@media only screen and (max-device-width: 319px) {
    html {
        font-size: 45px;
    }
}

@media only screen and ( min-device-width: 320px ) and ( max-device-width: 359px ) {
    html {
        font-size: 50px;
    }
}

@media only screen and ( min-device-width: 360px ) and (max-device-width: 374px ) {
    html {
        font-size: 56.25px;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 413px) {
    html {
        font-size: 58.6px;
    }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
    html {
        font-size: 64.68px;
    }
}